*{
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    font-style: none;
    color:black;
    text-decoration: none;
}

.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    display: flex;
    height: 100vh;
    background-color: #fff;
    width: 15%;
    border-style: none;
    border-right: 1px solid;
    border-color: rgba(86, 94, 100, 0.2);
    padding: 0;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.style1 {
    height: 100vh;
    width: 100vw}
.container {
    width: 100vw;
    height: 100vh}
.dashboard {
    width: 100vw;
    height: 100vh;
    overflow: hidden}
.style2 {
    display: block}
.style3 {
    display: block}
.style4 {
    display: block}
.item-sidebar {
    display: block}
.card {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px}
.style5 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px}
.card-info {
    border: 1px solid rgba(86, 94, 100, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 33%;
    background-color: #fff}
@media (min-width: 1400px) {
.style6 {
        font-family: sans-serif}
.style7 {
        font-weight: bold}}
.style8{
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 16px;
}
.info-card{
    font-size: 25px;}
.main-content{
    width: 86%;
    background-color: #f8f9fa;
.card-icon{
    font-size: 15px;
    background-color: #6c757d20;}
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 14%
}
.card-icon{
    color: #6C757D;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
    padding: 10px;
}
.topbar{
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-top-width: 1px;
    border-left-width: 1px;
    border-top-color: rgba(86, 94, 100, 0.2);
    border-left-color: rgba(86, 94, 100, 0.2);
    border-bottom: 1px solid rgba(86, 94, 100, 0.2);
    border-right: 1px rgba(86, 94, 100, 0.2);
    padding-left: 41px;}

.card-porcentagem-verde{
    padding: 6px;
    color: #178c55;
    background-color: rgba(26, 199, 118, 0.26);
    font-size: 12px;
    border: 1px solid rgba(21, 115, 71, 0.3);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.button{
    color: #6c757d;}

.button:hover{
    background-color: rgba(0, 0, 0, 0.02);
}

.style9{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button.nav-selected{
    background-color: rgba(0, 0, 0, 0.05);
    color: #383838;
    margin-bottom: 2px;}

.table{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px;
    border-style: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;}

.button-tab{
    border-bottom-color: #3595f6;
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;}


.button-tab:active{
    border-top-style: none;
    border-bottom: 4px solid;
    border-color: #3595f6;
    border-left-style: none;
    border-right-style: none;
}

.button-tab:focus{
    border-bottom: 4px solid #3595f6;
}

.card-default{
    background-color: #fff;
    border: 1px solid rgba(86, 94, 100, 0.2);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;}

.style11{
    margin-bottom: 0px;
}

.texto-detalhes{
    margin-bottom: 0px;}

.style12{
    border-style: none;
}

.celula-tabela{
    border-width: 0px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
    text-transform: capitalize;

}

td.celula-tabela {
    padding: 0 10px 0 0;
    font-weight: 500;
}

.style13{
    border-width: 0px;
    border-style: none;}    

.table>:not(caption)>*>* {
    background-color: rgba(0, 0, 0, 0);
}    

.table.infos-table{
    margin-right: 60px;
    width: 18%;}    

.style10{
    padding: 4px 10px;
}    

.card-icon-info{
    color: #6C757D;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 6px;
    margin-right: 10px;
    padding: 10px 13px;
    background-color: rgba(108, 117, 125, 0.13);
}

.infos-table>tbody {
    border: 0;
}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.style14{
    font-weight: bold;
}

.avisos-icons{
    padding: 6px;
    color: #000;
    background-color: #f5f5f5;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;}

.style15{
    margin-top: 8px;
}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.style16{
}

.style17{
}

.card.card-info{}

.contain-flex-1{}

.jurisprudencia-button{
    color: #6c757d;}

.jurisprudencia-bg{
    background-color: rgba(108, 117, 125, 0.13);
    display: block;}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.titulo-relatorio{
    border-bottom: 1px solid;
    border-color: rgba(198, 172, 174, 0.5);}

.resumo-geral{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.subtitulo-relatorio{
    font-size: 22px;}

.navbar{}

.navbar-itens{
    height: 85%;
    margin-bottom: 3px;}

.style18{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    margin-left: 1.2em;
    margin-right: 1.2em;
    padding: 10px 15px;
}

.style19{}

.wappler-temp{}

.perfil-avatar{
    border-top-left-radius: 41px;
    border-top-right-radius: 41px;
    border-bottom-left-radius: 41px;
    border-bottom-right-radius: 41px;
    margin-right: 7px;}

.style20{
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
    margin-right: 15px;
}

.email-card{
    font-size: 13px;}

.style21{
    background-color: #2c2c2c;
}

.nav-active{
    background-color: #2c2c2c;
}

.nav-link.nav-active {
    color: #fff; 
}

.info-tooltip{
    margin-left: 3px;}

.buttons-radius{}

.skeleton-loader {
    background-color: #ddd;
    height: 2.3em;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-animation: shimmer 1.5s infinite;
            animation: shimmer 1.5s infinite;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.skeleton-loader {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #ddd), color-stop(50%, #f0f0f0), color-stop(75%, #ddd));
    background: linear-gradient(90deg, #ddd 25%, #f0f0f0 50%, #ddd 75%);
    background-size: 200% 100%;
}

.skeleton-loader-little {
    background-color: #ddd;
    height: 0.8em;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-animation: shimmer 1.5s infinite;
            animation: shimmer 1.5s infinite;
}

.skeleton-loader-little {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #ddd), color-stop(50%, #f0f0f0), color-stop(75%, #ddd));
    background: linear-gradient(90deg, #ddd 25%, #f0f0f0 50%, #ddd 75%);
    background-size: 200% 100%;
}

.card-detalhes {
    margin-top:20px;
}

.wappler-temp{}

.logout-button{
    border: 1px solid #dc3545;
    background-color: #dc3545;}

.count-button{
    border: 1px solid #6c757d;
    background-color: #fff;}

.style22{
}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.wappler-temp{}

.column-form{
    width: 40%;}

.title-form{
    font-size: 18px;
    font-weight: bold;}

.style23{
    margin-right: 7px;
}
